html {
  font-size: 14px;
 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}




body {
    background-image: url("~C:\Users\Miguel\Pictures\BlogBG.jpg");
    margin: 0;
    background-color: lightblue;
    margin-bottom: 60px;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

thead {
    background-color: darkblue;
    color: white;
    border-color: black;
}

a:hover {
    background-color: blue;
    font-size: 18px;
    transition: .25s;
    transform: scale(1.07);
}

tbody {
    border-color: black;
    border: 1px solid;
    border-top-style: solid;
    border-bottom-style: solid;
}

th, tr, dl {
    border: 1px solid;
    border-color: black;
}
table{
    border-color:black;
}
