@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to the site!</h1>
    <p>Here you'll be able to review essentially anything you'd like to. I'm into movies, shoes and music so those will be the first categories you see. Feel free to add to the listed categories or create your own.</p>
</div>

<div>
     <a><img class="reviewIcon" id="homeImage" src="~/Images/BlogBG.jpg" alt="Review Image" /></a>
</div>
@section Styles{
    <style type="text/css">
        .reviewIcon {
            width: 800px;
            height: 500px;
          
            
            
        }
      
      
    </style>
}
